<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Libreria PEN</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


  <style>
    /* Eliminar el padding superior solo en esta página */
    body {
      padding-top: 0 !important;
    }

    /* Ajuste de tamaño para imágenes */
    .img-fluid {
      max-width: 100%;
      width: 300px; /* Ajusta el ancho aquí */
      height: 500px; /* Ajusta la altura aquí */
      object-fit: cover; /* Asegura que la imagen se adapte al tamaño establecido */
    }
  </style>
</head>

<body>

  <!-- Barra de Navegación -->
  <div class="container-hero">
          <div class="container hero">
              <div class="customer-support">
                  <i class="fa-solid fa-headset"></i>
                  <div class="content-customer-support">
                      <span class="text">Soporte al cliente</span>
                      <span class="number">123-456-7890</span>
                  </div>
              </div>

              <div class="container-logo" style="text-align: center;">
                  <img src="https://i.ibb.co/d6x52z5/Dise-o-sin-t-tulo.jpg" width="100" height="80"
                      style="display: block; margin: 0 auto;">
                  <h1 class="logo" style="margin-top: 10px;"><a href="/" style="text-decoration: none; color: black;">LIBRERIA PEN</a></h1>
              </div>

  			<div class="container-user">
  			        <a href="#" class="nav-item" style="margin-right: 10px; text-decoration: none; color: var(--dark-color);"></a>
  			        <a href="#" class="nav-item" style="text-decoration: none; color: var(--dark-color);"></a>
  			      </div>
              </div>
          </div>
      </div>

  <!-- Barra de Menú -->
  <div class="container-navbar">
    <nav class="navbar container">
      <ul class="menu">
        <li><a href="#">Categorías</a></li>
        <li><a href="#">Top 10</a></li>
        <li><a href="#">Útiles</a></li>
      </ul>
      <form class="search-form">
        <input type="search" placeholder="Buscar...">
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </nav>
  </div>

  <!-- Contenido de la Página -->
  <div class="container">
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" th:src="@{/images/{img} (img=${producto.imagen})}" alt="Imagen del producto">
            </a>
          </div>
          <div class="col-lg-6">
            <form th:action="@{/cart}" method="POST">
              <input type="hidden" th:value="${producto.id}" name="id">
              <h2 class="card-title" th:text="${producto.nombre}"></h2>

              <ul class="list-group">
                <li class="list-group-item">
                  <h5 th:text="'precio: ' + ${producto.precio}"></h5>
                </li>
                <li class="list-group-item">
                  <p th:text="'Descripcion: ' + ${producto.descripcion}"></p>
                </li>
                <li class="list-group-item">
                  <h6>
                    Cantidad: <input type="number" id="cantidad" name="cantidad" autocomplete="off" min="1" max="5" value="1">
                  </h6>
                </li>
              </ul>

              <button type="submit" class="btn btn-dark">Añadir al carrito</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:include="usuario/template_usuario.html::footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>
